// PrestaShop Admin Theme Colors
$main-color: map-get($map: $cdk-primary, $key: "primary-800") !default;
$primary-color: map-get($map: $cdk-primary, $key: "primary-800") !default;
$primary-light-color: map-get($map: $cdk-primary, $key: "primary-800") !default;
$secondary-color: $greenPrestashop !default;
$bg-content-color: #eff1f2 !default;

$contrasted-dark-default: #333;
$contrasted-light-default: #fff;
$contrasted-lightness-threshold: 10%;

$bg-page-head-color: $secondary-color;
$bg-panel-heading-color: hsl(hue($secondary-color), 10, 90);

$badge-notif-color: $greenPrestashop;
$brand-addons: $pinkPrestashop;

$font-family-mono: "Open Sans", helvetica, arial, sans-serif;

// FontAwesome icons
$icon-font-family: "FontAwesome";
$fa-css-prefix: icon;
$icon-size-base: 14px;

// Tooltips
$tooltip-opacity: 1;
$tooltip-bg: #555;
$tooltip-max-width: 250px;

// Bootstrap variables
$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-background: #eaebec;

// Cards
$card-border-color: #dbe6e9;
$card-icon-color: #6c868e;

// Brand colors
$brand-primary: $primary-color;

$brand-success: map-get($map: $cdk-green, $key: "green-500");
$brand-warning: map-get($map: $cdk-yellow, $key: "yellow-500");
$brand-danger: map-get($map: $cdk-red, $key: "red-500");
$brand-info: map-get($map: $cdk-blue, $key: "blue-500");

// Alerts
$alert-border-radius: map-get($map: $cdk-size, $key: "size-0");

$alert-success-bg: map-get($map: $cdk-green, $key: "green-50");
$alert-success-text: map-get($map: $cdk-primary, $key: "primary-800");
$alert-success-border: map-get($map: $cdk-green, $key: "green-500");

$alert-info-bg: map-get($map: $cdk-blue, $key: "blue-50");
$alert-info-text: map-get($map: $cdk-primary, $key: "primary-800");
$alert-info-border: map-get($map: $cdk-blue, $key: "blue-500");

$alert-warning-bg: map-get($map: $cdk-yellow, $key: "yellow-50");
$alert-warning-text: map-get($map: $cdk-primary, $key: "primary-800");
$alert-warning-border: map-get($map: $cdk-yellow, $key: "yellow-500");

$alert-danger-bg: map-get($map: $cdk-red, $key: "red-50");
$alert-danger-text: map-get($map: $cdk-primary, $key: "primary-800");
$alert-danger-border: map-get($map: $cdk-red, $key: "red-500");

// Progress bars
$progress-bg: map-get($map: $cdk-primary, $key: "primary-400");

// Breadcrumbs
$breadcrumb-padding-vertical: map-get($map: $cdk-size, $key: "size-5");
$breadcrumb-padding-horizontal: map-get($map: $cdk-size, $key: "size-5");

$breadcrumb-bg: transparent;
$breadcrumb-color: map-get($map: $cdk-primary, $key: "primary-700");
$breadcrumb-active-color: map-get($map: $cdk-primary, $key: "primary-800");
$breadcrumb-separator: ">";

// Sidebar
$sidebar-menu-color: #bebebe !default;
$sidebar-menu-active-color: #fff !default;
$sidebar-menu-hover-color: #fff !default;
$sidebar-menu-bg-hover-color: #282b30;

// Toolbar
$toolbar-buttons-color: #2eacce;
$toolbar-buttons-hover-color: #40c9ed;

// Scaffolding
$body-bg: $bg-content-color;
$text-color: $gray;

// Typography
$FontPathOpenSans: "../node_modules/open-sans-fonts/open-sans";
$url-font-content-name: "Open Sans" !default;
$url-font-headings-name: "Open Sans" !default;
$font-family-sans-serif: var(--#{$cdk}font-family-primary);
$headings-font-family: $url-font-headings-name, helvetica, arial, sans-serif;
$font-size-base: 12px;
$line-height-base: 1.428571429;
$line-height-computed: floor($font-size-base * $line-height-base);
$headings-font-weight: 400;

// Components
$padding-base-vertical: 8px;
$padding-base-horizontal: 16px;
$border-radius-base: map-get($map: $cdk-size, $key: "size-0");
$border-radius-large: map-get($map: $cdk-size, $key: "size-0");
$border-radius-small: map-get($map: $cdk-size, $key: "size-0");

// Tables

// $table-bg: transparent  overall background-color
$table-bg-accent: #f9f9f9;
$table-bg-hover: #edf7fb;

// Buttons
$btn-font-weight:                600;

$btn-default-color:              map-get($map: $cdk-primary, $key: "primary-800");
$btn-default-bg:                 map-get($map: $cdk-common, $key: "white");
$btn-default-border:             map-get($map: $cdk-primary, $key: "primary-800");

$btn-primary-color:              map-get($map: $cdk-common, $key: "white");
$btn-primary-bg:                 map-get($map: $cdk-primary, $key: "primary-800");
$btn-primary-border:             map-get($map: $cdk-primary, $key: "primary-800");
$btn-primary-active-bg:          map-get($map: $cdk-primary, $key: "primary-700");

$btn-secondary-color:            map-get($map: $cdk-primary, $key: "primary-800");
$btn-secondary-bg:               map-get($map: $cdk-primary, $key: "primary-500");
$btn-secondary-border:           map-get($map: $cdk-primary, $key: "primary-500");

$btn-success-color:              map-get($map: $cdk-common, $key: "white");
$btn-success-bg:                 $brand-success;
$btn-success-border:             $brand-success;

$btn-info-color:                 map-get($map: $cdk-common, $key: "white");
$btn-info-bg:                    $brand-info;
$btn-info-border:                $brand-info;

$btn-warning-color:              map-get($map: $cdk-common, $key: "white");
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $brand-warning;

$btn-danger-color:               map-get($map: $cdk-common, $key: "white");
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $brand-danger;

$btn-link-disabled-color:        map-get($map: $cdk-primary, $key: "primary-500");

// Forms
$input-bg: #fff;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 6);
$input-group-addon-bg: #f5f8f9;
$input-border: #bbcdd2;
$input-focus-background: #f4fcfd;
$input-focus-border: $primary-color;
// Dropdowns
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: $brand-primary;

// Grid system
$grid-gutter-width: 10px;

// Basics of a navbar
$navbar-height: 40px;
$well-bg: #fcfdfe;

// Media queries breakpoints
// Tiny screen / phone
$screen-tiny: 480px;
$screen-phone: $screen-tiny;

// Small screen / tablet
$screen-small: 768px;
$screen-tablet: $screen-small;

// Medium screen / desktop
$screen-medium: 992px;
$screen-desktop: $screen-medium;

// So media queries don't overlap when required, provide a maximum
$screen-small-max: ($screen-medium - 1);
$screen-tablet-max: $screen-small-max;

// Large screen / wide desktop
$screen-large: 1200px;
$screen-large-desktop: $screen-large;

// Container sizes
// Small screen / tablet
$container-tablet: 728px;

// Medium screen / desktop
$container-desktop: 940px;

// Large screen / wide desktop
$container-large-desktop: 1170px;

// Menu
$gray-dark-menu: #363a41;
$widthSidebarNav: 210px;
$paddingLeftPageClosed: 4.0625rem;
$paddingLeftMobile: 0.625rem;
$widthSidebarSubmenu: 200px;
$menu-item-size: 34px;
$min-height: 950px;
$gray-dark-link: #fff;
$gray-dark-link-hover: #fff;
$size-navbar-width: 13.13rem;
$size-navbar-width-mini: 3.125rem;
$size-header-height: 2.5rem;
$header-mobile-padding-y: 0.625rem;
$medium-gray: #6c868e;
$gray-medium: $medium-gray;
$gray-dark-active-menu: #22252a;
$gray-dark-title: #98aab0;
$gray-dark-secondary-link: #b6c3c7;
$gray-dark-logout: #ff7a7a;

// use rems to ensure homogeneity on all zoom scales
$grid-breakpoints: (xs: 0, sm: 34em, md: 48em, lg: 64em, xl: 81.25em);
