.btn {
  white-space: normal;

  &.btn-default {
    &:focus,
    &.focus {
      color: var(--#{$cdk}primary-800);
      background-color: var(--#{$cdk}primary-300);
      border-color: var(--#{$cdk}primary-800);
    }
    &:hover {
      color: var(--#{$cdk}primary-800);
      background-color: var(--#{$cdk}primary-200);
      border-color: var(--#{$cdk}primary-800);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      color: var(--#{$cdk}primary-800);
      background-color: var(--#{$cdk}primary-200);
      background-image: none;
      border-color: var(--#{$cdk}primary-800);

      &:hover,
      &:focus,
      &.focus {
        color: var(--#{$cdk}primary-800);
        background-color: var(--#{$cdk}primary-300);
        border-color: var(--#{$cdk}primary-800);
      }
    }
  }

  &.btn-secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
  }

  &-group {
    .btn-default {
      i {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 2px;
        font-size: 16px;
      }

      &:hover {
        color: $btn-primary-color;
        background: $primary-light-color;
        border-color: $primary-light-color;
      }

      &:focus,
      &:active {
        color: $btn-primary-color;
        background: $btn-primary-active-bg;
        border-color: $btn-primary-active-bg;
        box-shadow: 0 0 0 0.2rem rgba(70, 196, 221, 0.5);
      }
    }
  }
}
