// @TODO
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;

  // @TODO try to handle page-head better
  &.mobile {
    #content.bootstrap {
      @media (max-width: $screen-lg) {
        padding-left: $paddingLeftMobile;
      }

      .page-head {
        h2.page-title {
          padding-left: $paddingLeftMobile;
        }

        h4.page-subtitle {
          @include left($paddingLeftMobile);
        }

        ul.page-breadcrumb {
          display: none;
        }
      }
    }
  }
}

#main {
  z-index: 10;
  width: 100%;
  padding: 50px 0 60px;
}

#content.bootstrap {
  padding: 95px 15px 0 225px;

  input,
  button,
  textarea,
  select {
    font-family: $font-family-mono;
  }

  &.with-tabs {
    padding-top: 160px;
  }

  @include transition-property(margin);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);

  form .alert {
    clear: both;
  }

  .mobile & {
    padding: 95px 5px 0;
    @include margin-left(0!important);
  }

  .help-block {
    font-style: italic;
  }

  .nav.nav-tabs li.active a {
    z-index: 99;
  }

  .breadcrumb {
    background-color: #fff;
    border: solid 1px darken($bg-content-color, 10%);
  }

  .panel.panel-sm {
    padding: 8px !important;

    .panel-heading {
      margin: -8px -8px 10px;
      font-size: 13px;

      @include ltr () {
        padding-left: 8px;
      }

      @include rtl () {
        padding-right: 8px;
      }
    }

    .form-group {
      margin-bottom: 8px;
    }
  }
}

.data-focus {
  &.data-focus-primary {
    color: #fff;
    background-color: $brand-primary;
    @include border-radius(10px);
  }
}

#customer_part {
  .customerCard {
    &.selected-customer .panel {
      color: $brand-success;
      border: solid 2px $brand-success;
    }
  }
}

body.display-modal {
  #content,
  #main {
    padding: 0;
    margin: 0;
    background: #f8f8f8;
  }
}

.bootstrap {
  input[type="text"],
  input[type="search"],
  input[type="password"],
  textarea,
  select {
    @extend .form-control;
  }

  .modal {
    .alert {
      h3 {
        margin-top: 0;
      }
    }
  }

  .modal-footer {
    .alert {
      text-align: left;
    }
    //todo: remove temp fix for bootstrap RC1 -> final
  }
}

#header {
  .panel-footer {
    height: 40px !important;
    margin: 15px 0 0 !important;
  }
}

#main.helpOpen {
  width: 70%;
  @media (max-width: $screen-lg) {
    width: 100%;
  }
}

#help-container {
  position: relative;
  box-sizing: border-box;
  float: right;
  width: 30%;
  padding: 0;
  margin: 0;
  margin-top: 181px;
  margin-bottom: 50px;
  overflow-x: hidden;
  background-color: #fff;

  @media (max-width: $screen-lg) {
    display: none;
  }
}

.page-topbar {
  #help-container {
    margin-top: 140px;
  }
}

.page-sidebar-closed {
  &:not(.mobile) {
    #content {
      padding-left: $paddingLeftPageClosed;

      .page-head {
        padding-left: $paddingLeftPageClosed - 0.9375rem;
      }
    }
  }
}

div[data-role="search-panels"] {
  .panel {
    a[target="_blank"]::after {
      position: relative;
      top: 2px;
      left: 10px;
      font-family: "Material Icons", sans-serif;
      color: #bbcdd2;
      content: "\e89e";
      opacity: 0.7;
    }
  }
}
