// @TODO

// Header naviguation bar
#header_infos {
  .js-mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    float: left;
    padding-top: 0;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    font-size: 1.8rem;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      display: inline-flex;
    }
  }
}

// Menu sidebar naviguation
.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 502;
  width: $size-navbar-width;
  height: 100%;
  margin-top: var(--#{$cdk}header-height);
  overflow-y: auto;
  background: $sidebar-menu-bg;
  border-right: 1px solid var(--#{$cdk}primary-400);
  //transition: var(--#{$cdk}default-transition);

  // CSS var
  /*--#{$cdk}sidebar-category-color: var(--#{$cdk}primary-500);
  --#{$cdk}sidebar-icon-color: var(--#{$cdk}primary-800);
  --#{$cdk}sidebar-icon-active: var(--#{$cdk}blue-500);
  --#{$cdk}sidebar-link-color: var(--#{$cdk}primary-800);
  --#{$cdk}sidebar-link-color-hover: var(--#{$cdk}blue-500);
  --#{$cdk}sidebar-link-bg-active: var(--#{$cdk}primary-200);
  --#{$cdk}sidebar-link-lvl-one-bg-active: var(--#{$cdk}primary-300);
  --#{$cdk}sidebar-submenu-bg: var(--#{$cdk}primary-200);*/

  --#{$cdk}sidebar-category-color: var(--#{$cdk}primary-500);
  --#{$cdk}sidebar-icon-color: var(--#{$cdk}primary-800);
  --#{$cdk}sidebar-icon-active: var(--#{$cdk}primary-800);
  --#{$cdk}sidebar-link-color: var(--#{$cdk}primary-800);
  --#{$cdk}sidebar-link-color-hover: var(--#{$cdk}ocean-blue-700);
  --#{$cdk}sidebar-link-color-active: var(--#{$cdk}primary-800);
  --#{$cdk}sidebar-link-bg-active: var(--#{$cdk}ocean-blue-500);
  --#{$cdk}sidebar-link-lvl-one-bg-active: var(--#{$cdk}ocean-blue-500);
  --#{$cdk}sidebar-submenu-bg: var(--#{$cdk}ocean-blue-50);

  .logo-container {
    display: none;
  }

  .material-icons {
    font-size: var(--#{$cdk}size-24);
    line-height: 1;
    color: var(--#{$cdk}sidebar-icon-color);
  }

  // @TODO
  &.mobile-nav {
    width: 70%;
    margin-left: -100%;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.875rem;
      border-bottom: 1px solid #bebebe;

      &__close {
        line-height: 0.6;
      }

      &__header {
        display: flex;
        align-items: center;
      }

      .logo {
        width: 8rem;
        height: 1.25rem;
        background: url("#{$img-path}/ps-logo-white.svg") no-repeat;
        background-size: contain;
      }

      .header-version {
        margin-left: 0.75rem;
        font-size: 1rem;
        color: #fff;
      }
    }

    @include media-breakpoint-only(sm) {
      width: 60%;
    }

    @include media-breakpoint-only(md) {
      width: 40%;
    }

    &.expanded {
      display: block;
      margin-left: 0;

      &::before {
        @include media-breakpoint-down(md) {
          display: block;
        }
      }
    }

    .onboarding-navbar {
      display: none;
    }

    .panel-collapse {
      padding-left: 0;

      .link-leveltwo {
        .link {
          padding-left: 1rem;

          @include media-breakpoint-down(md) {
            padding-left: 0.625rem;
          }
        }

        &:last-of-type {
          .link {
            @include media-breakpoint-down(md) {
              padding-bottom: 1.5rem;
            }
          }
        }
      }
    }

    .employee_avatar {
      padding-top: 1rem;
      padding-left: 1rem;
      text-align: center;
      text-decoration: none;

      @include media-breakpoint-down(md) {
        display: flex;
        align-items: center;
      }

      > .employee_avatar {
        @include media-breakpoint-down(md) {
          padding-top: 0;
          padding-left: 0;
          margin-right: 1rem;
        }
      }

      .material-icons {
        font-size: 3.75rem;
        line-height: 3.75rem;

        @include media-breakpoint-down(md) {
          font-size: 4.6875rem;
          line-height: 4.6875rem;
        }
      }

      span {
        display: block;
        margin-bottom: 0.625rem;
        color: #fff;

        @include media-breakpoint-down(md) {
          font-size: 1rem;
          font-weight: 500;
        }
      }

      img {
        width: 3.75rem;
        height: 3.75rem;

        @include media-breakpoint-down(md) {
          width: 2.25rem;
          height: 2.25rem;
        }

        &.img-thumbnail {
          border-radius: 36px;
        }
      }
    }

    .shop-list {
      padding-bottom: 1rem;
      font-weight: 700;
      text-align: center;

      a {
        @include media-breakpoint-down(md) {
          font-size: 1.09375rem;
        }
      }
    }

    .main-menu {
      margin-top: 0.625rem;

      > li:first-child {
        padding-bottom: 1rem;
      }
    }

    .shop-list-title {
      margin-bottom: 0.9375rem;
      font-size: 1rem;
      color: $brand-primary;
      text-align: center;
      text-transform: uppercase;

      &::after {
        margin-left: 0.625rem;
        font-family: "Material Icons", sans-serif;
        font-size: 1.25rem;
        line-height: 1.375rem;
        vertical-align: bottom;
        content: "\E313";
      }
    }

    .items-list {
      padding-left: 0;

      a:focus {
        background-color: transparent;
      }

      li {
        background-color: #fff;
        border-bottom: $gray-light 1px solid;

        &.group a {
          padding: 0.9375rem 2.5rem;
          font-weight: 700;
        }

        &.shop {
          padding: 0.9375rem 0.9375rem 0.9375rem 2.5rem;

          a {
            display: inline-block;
            width: auto;

            &.link-shop {
              float: right;

              .material-icons {
                font-size: 1.25rem;
                color: $gray-medium;
              }
            }
          }
        }
      }

      li:first-child a {
        padding: 0.9375rem 1.25rem;
        font-size: 0.9375rem;
        color: $brand-primary;
        text-transform: uppercase;
      }
    }
  }
}

// Main menu
.main-menu {
  padding: var(--#{$cdk}size-8) var(--#{$cdk}size-8) var(--#{$cdk}size-128) var(--#{$cdk}size-8);
  margin: 0;

  &.sidebar-closed {
    .link-levelone {
      > .link {
        justify-content: center;
        > span {
          display: none;
          &.open {
            > .submenu {
              display: none;
            }
          }
        }

        > .sub-tabs-arrow{
          display: none;
        }
      }
    }

    .category-title > .title {
      display: none;
    }
  }

  .category-title > .title {
    text-transform: uppercase;
  }

  .link-levelone {
    display: block;

    &.link-levelone-active {
      > .link {
        color: var(--#{$cdk}sidebar-link-color-active);
        font-weight: 700;
        background: var(--#{$cdk}sidebar-link-lvl-one-bg-active);
      }
    }

    &:not(.has_submenu) {
      .sub-tabs-arrow {
        display: none;
      }
    }

    &.link-active {
      > .link {
        .material-icons {
          &:first-child {
            color: var(--#{$cdk}sidebar-icon-active);
          }
        }
      }
    }

    &.ul-open,
    &.link-active,
    &.-hover {
      > .link {
        color: var(--#{$cdk}sidebar-link-color-active);
        font-weight: 700;
        background: var(--#{$cdk}sidebar-link-lvl-one-bg-active);
        transition: background var(--#{$cdk}default-transition-duration);
      }
    }

    > .link {
      display: flex;
      gap: var(--#{$cdk}size-8);
      align-items: center;
      height: initial;
      padding: var(--#{$cdk}size-8);
      overflow: hidden;
      font-size: var(--#{$cdk}size-14);
      line-height: 1;
      color: var(--#{$cdk}sidebar-link-color);
      text-decoration: none;
      text-overflow: initial;
      word-break: break-word;
      white-space: initial;

      .sub-tabs-arrow {
        margin-left: auto;
        line-height: 1;
        color: var(--#{$cdk}primary-800);
      }
    }

    #header_logout {
      align-items: center;
      margin-top: var(--#{$cdk}size-32);
      color: var(--#{$cdk}red-500);
      font-weight: 700;
      column-gap: var(--#{$cdk}size-8);
      transition: var(--#{$cdk}default-transition);

      &:hover {
        background-color: var(--#{$cdk}red-50);
      }

      i {
        color: currentColor;
      }
    }

    > .submenu {
      display: none;
      padding: var(--#{$cdk}size-8) 0;
      white-space: nowrap;
      list-style: none;
      background: var(--#{$cdk}sidebar-submenu-bg);
    }

    &.open {
      > .submenu {
        display: block;
      }
    }
  }

  .link-leveltwo {
    @extend .link-levelone;

    &.link-active {
      > .link {
        color: var(--#{$cdk}sidebar-link-color-hover);
        background-color: inherit;
      }
    }

    > .link {
      height: initial;
      padding: var(--#{$cdk}size-8) var(--#{$cdk}size-12);
      line-height: 1;
      color: var(--#{$cdk}sidebar-link-color);

      &:hover {
        color: var(--#{$cdk}sidebar-link-color-hover);
      }
    }
  }
}

.category-title {
  display: block;
  padding: var(--#{$cdk}size-8);
  margin: var(--#{$cdk}size-16) 0 var(--#{$cdk}size-8) 0;
  font-size: var(--#{$cdk}size-12);
  font-weight: 700;
  line-height: 1;
  border-bottom: 1px solid var(--#{$cdk}primary-300);
  
  > .title {
    color: var(--#{$cdk}sidebar-category-color);
  }
}

.menu-collapse {
  display: block;
  padding: var(--#{$cdk}size-8) var(--#{$cdk}size-16);
  font-size: 2rem;
  line-height: 1rem;
  color: var(--#{$cdk}primary-800);
  text-align: right;
  cursor: pointer;
  transition: color var(--#{$cdk}default-transition-duration);
  
  &:hover {
    color: var(--#{$cdk}sidebar-link-bg-active);
  }
  
  .material-icons {
    color: currentColor;
    font-size: var(--#{$cdk}size-24);
    line-height: 1;
  }

  @include media-breakpoint-down(md) {
    display: none;
    padding-bottom: var(--#{$cdk}size-16);
  }
}

.page-sidebar-closed:not(.mobile) {
  .content-div,
  #content {
    transition: padding var(--#{$cdk}default-transition-duration);
  }

  .menu-collapse {
    text-align: center;
    padding: var(--#{$cdk}size-8);
    transform: rotate(180deg);
  }

  .nav-bar {
    width: $size-navbar-width-mini;
    overflow: visible !important;

    &-overflow {
      height: 100%;
      overflow: hidden;
    }

    .main-menu {
      overflow: hidden;
      padding: var(--#{$cdk}size-4);

      .category-title {
        padding-top: 0;
        padding-bottom: 0;

        > .title {
          display: none;
        }
      }

      .link-levelone {
        &.ul-open {
          .link {
            > span,
            > .sub-tabs-arrow {
              display: none;
            }
          }

          .submenu {
            position: absolute;
            left: var(--#{$cdk}size-52);
            display: block;
            width: var(--#{$cdk}size-208);
            padding: var(--#{$cdk}size-8) 0;
            text-align: left;
          }
        }

        .link-leveltwo {
          > .link {
            padding: var(--#{$cdk}size-8) var(--#{$cdk}size-12);
            justify-content: start;
          }
        }
      }
    }

    @media (max-height: 870px) {			// this two tabs need to be flipped, otherwise
      // css issue with bottom of the page
      #subtab-ShopParameters.ul-open,
      #subtab-AdminAdvancedParameters.ul-open {
        ul.submenu {
          display: flex !important;
          flex-direction: column-reverse;
          margin-top: 35px;
          transform: rotate(180deg);
          transform-origin: top;

          li {
            transform: rotate(180deg);

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.mobile-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 501;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: var(--#{$cdk}default-transition);

  &.expanded {
    display: block;
  }
}
