.popover {
  padding: var(--#{$cdk}size-8);
  box-shadow: var(--#{$cdk}box-shadow-md);
  color: var(--#{$cdk}white);
  
  &-title {
    color: var(--#{$cdk}white);
    padding: 0;
    font-weight: 700;
  }
  
  &-content {
    color: var(--#{$cdk}white);
    padding: 0;
  }
}
