// @TODO
.page-head {
  position: fixed;
  top: var(--#{$cdk}header-height);
  left: 0;
  z-index: 499;
  width: 100%;
  padding: 0 0 0 var(--#{$cdk}sidebar-width);
  margin: 0;
  color: var(--#{$cdk}primary-800);
  background-color: var(--#{$cdk}white);
  border-bottom: 1px solid var(--#{$cdk}primary-400);
  transition: padding-left var(--#{$cdk}default-transition-duration);

  &.with-tabs {
    border-bottom: none;
    //height: 140px;
  }
  
  > .wrapper {
    padding-left: var(--#{$cdk}size-16);
  }
  
  @include media-breakpoint-down(md) {
    padding: var(--#{$cdk}size-8) 0 0 0;

    &.with-tabs {
      //height: auto;
    }
  }

  .page-title {
    position: relative;
    float: left;
    padding: 0;
    margin: 0 0 var(--#{$cdk}size-16) 0;
    clear: left;
    font-size: var(--#{$cdk}size-32);
    font-weight: 600;
    white-space: nowrap;

    @at-root .adminmodules & {
      margin: 0 0 1.25rem;
    }

    a {
      border-bottom: dotted 1px var(--#{$cdk}white);

      &:hover {
        color: var(--#{$cdk}primary-800);
        border-color: var(--#{$cdk}primary-800);
      }
    }
  }

  a {
    color: var(--#{$cdk}white);
    text-decoration: none;
  }

  // @TODO
  h4.page-subtitle {
    @include float(left);
    position: absolute;
    margin-top: 60px;
    font-family: $url-font-content-name;
    @include left($widthSidebarNav + 17px);
    @media (max-width: $screen-tablet) {
      @include left(70px);
    }

    @at-root .adminmodules & {
      margin-top: 67px;
    }
  }

  .toolbarBox {
    @media (max-width: $screen-tablet) {
      width: 100%;
    }

    .nav-pills {
      padding-right: var(--#{$cdk}size-12);

      li {
        margin: var(--#{$cdk}size-2) var(--#{$cdk}size-4);
      }

      .toolbar_btn {
        &.btn-help {
          @extend .btn;
          @extend .btn-default;
        }

        &:not(.btn-help) {
          @extend .btn;
          @extend .btn-primary;
        }

        i {
          &.btn-primary {
            background-color: transparent !important;
          }
          
          &.switch_demo {
            width: auto;
          }

          &.process-icon-loading {
            line-height: 1;
          }
        }
      }

      @media (max-width: $screen-sm) {
        padding-block: var(--#{$cdk}size-8);
      }
    }
    
    .btn-toolbar {
      justify-content: flex-end;
      margin: 0;
    }

    .dropdown-toolbar {
      @extend .btn;
      @extend .btn-default;
      display: none !important;
      float: right;
      margin: var(--#{$cdk}size-2) var(--#{$cdk}size-16) var(--#{$cdk}size-2) var(--#{$cdk}size-0) !important;

      @media (max-width: $screen-sm) {
        display: inline-flex !important;
      }
    }
  }

  ul.page-breadcrumb {
    float: left;
    padding: var(--#{$cdk}size-8) 0;
    margin: 0;
    font-size: var(--#{$cdk}size-12);
    line-height: 1.5;
    color: var(--#{$cdk}primary-600);
    white-space: nowrap;
    list-style: none;

    li {
      i {
        font-size: var(--#{$cdk}size-12);
      }

      &::before {
        color: var(--#{$cdk}primary-800);
      }

      a {
        color: var(--#{$cdk}primary-800);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .page-head-tabs {
    clear: left;
    background-color: var(--#{$cdk}white);

    ul {
      border-top: 1px solid var(--#{$cdk}primary-400);
      border-bottom: 1px solid var(--#{$cdk}primary-400);
    }

    li {
      display: inline-block;

      a {
        box-sizing: border-box;
        padding: var(--#{$cdk}size-16) var(--#{$cdk}size-20);
        font-size: var(--#{$cdk}size-14);
        line-height: 1;
        color: var(--#{$cdk}primary-700);
        vertical-align: middle;
        
        &:hover {
          color: var(--#{$cdk}primary-800);
        }

        &.current {
          color: var(--#{$cdk}primary-700);
          background-color: var(--#{$cdk}white);
          border-bottom: 3px solid var(--#{$cdk}ocean-blue-500);
        }
      }
    }
  }
}

.page-header-toolbar-back {
  display: inline-block;
  border: none;
}
