// Material Symbols Outlined
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url("../fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2") format("woff2"),
  url("../fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf") format("truetype");
}

.material-icons,
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
