.btn {
  white-space: normal;

  &.btn-action {
    background-color: $white;

    &:disabled,
    &.disabled {
      color: $white;
      background-color: #ddd;
      box-shadow: none;
    }
  }
}

a.btn.auto-pointer-events {
  pointer-events: auto;
}
